[2015-08-07 13:18] timd93 opened #1 "Watermarking does not always work when cropping"
When you crop an image and you cut off the top portion of the image, the watermark is not detected anymore (0%).

[2015-08-07 13:25] timd93 opened #2 "Windows app does not add .sig extension automatically"
When generating a signature, the created file does not have a .sig extension. It just has no extension.

[2015-08-09 15:44] syvaidya commented on #1
- Does it happen for all images?
- What is the percentage of area cropped?
- Can you attach sample image where this happens?

[2015-11-18 14:09] vitalyrepin opened #3 "Watermarking never works"
Hello,

I was not able to make any watermarks. It always ended with error messages.

Steps to reproduce:
1) generate signature file. I used passphrase "Test" and managed to generate it successfully. (attached)
2) Download image file: http://farm1.staticflickr.com/616/21598757660_12000ec088_o_d.png  (if it is not opening I can publish this image in my web server, let me know)
3) Try to create digit

[2015-11-18 14:11] vitalyrepin commented on #3
test.sig is attached (txt extension is added in order to be able to attach it using github issues mechanism

[test.sig.txt](https://github.com/syvaidya/openstego/files/37900/test.sig.txt)
)

[2015-11-19 03:40] syvaidya commented on #3
In "openstego.bat" (openstego.sh, if you are on Linux) file, increase the Xmx value.

For example:

[code]

[2015-11-19 09:30] vitalyrepin commented on #3
Confirming that it started to work after modifying cmdline in openstego.sh:

java -Xmx10240m -jar ${DIR}/lib/openstego.jar $*

Thanks!

[2015-11-19 10:05] vitalyrepin commented on #3
Just a side question - after successful watermarking the image quality is degraded and exif tags are removed.

E.g., my original image:

/mnt/flash/final/final/DSC01693_bw.jpg: JPEG image data, Exif standard: [TIFF image data, little-endian, direntries=19, height=4032, bps=242, PhotometricIntepretation=RGB, orientation=upper-left, width=6048], baseline, precision 8, 6048x4032, frames 3

Watermarke

[2015-12-07 08:52] vitalyrepin commented on #3
Workaround: use png as an output format. And apply exif tags after appying watermarks.

[2015-12-07 08:52] #3 closed

[2016-03-17 17:19] sdahlbac opened #4 "please remember input path and output folder"

[2016-04-28 16:38] adpoint opened #5 "is support audio file?"
for example, insert image into mp3 file?

[2016-04-28 17:25] syvaidya commented on #5
Not yet

[2016-06-02 07:34] knezi opened #6 "heap overflow"
Hi,
running Arch Linux.
[code]
If I try to hide a file (82 bytes) into a 9MB image, the both cores of cpu are at 100% and after a while I get:

[code]
[code]

[2016-06-04 09:55] syvaidya commented on #6
Can you try increasing the heap size in openstego.sh file? The option for the same is "-Xmx".

[2016-09-18 13:16] #6 closed

[2016-09-18 13:17] #4 closed

[2016-09-18 13:18] syvaidya commented on #1
Closing, as no response.

[2016-09-18 13:18] #1 closed

[2016-09-29 20:37] dkhill opened #7 "Unable to see/find extracted txt file."
I hid some data within a picture.  Operation showed that it exceeded, but when I went to extract the data message says successful but had a (null) in the successful message.  And there was no extractd file.
Says:  Message successfully extracted from the cover file: null
Environment:  Windows 10
Password Used:  Yes.

Java Errors Found in Window:
java.util.concurrent.ExecutionException: net.sourcefo

[2016-10-13 07:01] syvaidya commented on #7
Can you please try with file having no spaces in its name? Current one has spaces in it "Boot Time Errors.txt". Let me know if that works - it would mean that there is some bug in code which is not able to handle spaces in file name.

[2016-11-03 04:10] macphoto opened #8 "Output Stego File as a .JPEG"
Is it possible to output the hidden message file as a .JPEG?  The .PNG file format **doesn't support metadata fields.** Well, not as many fields. .PNG is omitting some of my metadata info and it's critical that the information be found in the file. This issue is throwing off my workflow too.

[2016-11-03 04:20] macphoto commented on #8
Verify Watermark only indicates the strength of the message impression.  But can it preview or extract the hidden impression?

[2016-12-29 09:17] syvaidya commented on #2
Fixed with next commit

[2016-12-29 09:17] #2 closed

[2016-12-29 09:22] syvaidya commented on #8
Unfortunately, answer to both your queries is No.
1. JPEG is a lossy compression format, and it cannot maintain the embedded message fidelity.
2. Whenever image with watermark is modified (e.g. crop, resize, etc), the watermark quality degrades. Even simple saving the file as JPEG can cause watermark to degrade. So only thing that software can do is to verify the strength given the original signat

[2016-12-29 09:22] #8 closed

[2016-12-29 21:05] macphoto commented on #8
Thanks for your reply.

FYI, I've began using Adobe Bridge to implement the meta data code into the .png file format. Adobe Bridge appears to be the only software that will successfully embed meta data into the .png file format.

[2017-02-06 21:00] KitchM opened #9 "Error Message After Install"
Am using Xubuntu 14.04.5 and installed openstego.  Received following message when attempting to start if from the menu item (found under Graphics):

Failed to execute child process "/usr/share/openstego/openstego" (No such file or directory)

What should be done to correct this problem?

Thank you.

[2017-02-07 03:04] syvaidya commented on #9
Did you install it using ".deb" file?

[2017-02-07 14:59] KitchM commented on #9
Yes, and it brought up Ubuntu Software Center to handle the install.

[2017-02-19 07:36] danarmstrong commented on #9
The file /usr/share/openstego/openstego has a couple of issues. First is that it is not executable by default and the second is that it has Windows line-endings. To get the application to work:

[code]

If dos2unix isn't installed just use apt to install it

[code]

One those two quick steps are finished you can launch openstego from the menu entry.

[2017-02-19 14:03] KitchM commented on #9
Okay, dos2unix was available from the Ubuntu Software Center and it was a simple install.  The two command-line commands appeared to work correctly.

However, there is a window sizing issue.  The program opens with the window short and very wide; it is wider than the screen on both sides.  Worse, none of the necessary sizing handles are functional, nor does the top right of the title bar have the

[2017-02-22 07:35] danarmstrong commented on #9
I had not noticed that until you mentioned it. I'm running at 1920x1080 resolution so the window is entirely visible for me (albeit seemingly wider than need be), but you are correct about the resizing handles not being functional.

[2017-02-22 22:53] KitchM commented on #9
Yeah, so many programmers fail to code according to usability standards.  It drives me crazy.  But it is doubly bad when they don't even use their code correctly and don't test their widgets to see if they function.

[2017-03-30 08:14] bellavi opened #10 "Change jpeg output file quality (currently set to default = 75)"
Is there a way to change jpeg quality setting?

I tried to update the const QUALITY in DCT.java (from 75 to 95) and regenerate the .jar using build.xml, but when I use "Digital Watermarking" the output file sizes are still the same (very little size compared to my original files encoded with quality=95).

It would be nice to be able to configure the wanted jped output files quality, from OpenStego

[2017-03-30 08:17] bellavi opened #11 "Keep Exif settings from the original files"
Currently, all Exif info from jpeg input files are removed when saving output jpeg files (no more exif info on image orientation, author, comments...)

[2017-04-16 11:26] syvaidya commented on #9
@KitchM Majority of downloads are for windows platform and it seems to work fine. I don't have any linux setup to test this out. It would be more constructive, if you can provide a patch to fix this. Otherwise you'll just have to wait till I get time - I have full time job and a family to take care of.

[2017-04-16 12:07] syvaidya commented on #7
Closing, as there is no update for long.

[2017-04-16 12:07] #7 closed

[2017-04-17 00:14] KitchM commented on #9
Thanks much for the response.

No rush at all.  Appreciate your situation.

Thanks again.

On 04/16/2017 07:26 AM, Samir Vaidya wrote:

[2017-04-29 12:17] syvaidya commented on #9
Both file permissions and window resize issues are fixed now with v0.7.1.

[2017-04-29 12:17] #9 closed

[2017-04-29 12:17] syvaidya commented on #11
Fixed with v0.7.1

[2017-04-29 12:17] #11 closed

[2017-04-29 12:18] syvaidya commented on #10
Fixed with v0.7.1

There is no GUI as of now to control JPEG compression. Steps to do it:
- Run OpenStego once - it will create "openstego.ini" file inside user's home directory
- Modify required values in the ini file and then restart OpenStego

[2017-04-29 12:18] #10 closed

[2017-05-04 18:05] dcdeiv opened #12 "javax.imageio.IIOException: Missing Huffman code table entry"
When I try to embed a watermark from a jpeg image it will work if I don't specify the file extension but it will output the original image to bmp. If I try to save the image into a jpeg file it will throw an error:

javax.imageio.IIOException: Missing Huffman code table entry

![See screenshot](https://cloud.githubusercontent.com/assets/6809907/25718037/ebb5f7e8-3104-11e7-9ab5-2f011232b151.png)

[2017-05-04 18:38] dcdeiv opened #13 "java.lang.OutOfMemoryError: Java heap space"
When I try to watermark a hi-res pictur it will throw the "java.lang.OutOfMemoryError: Java heap space" error!

![2017-05-04 1](https://cloud.githubusercontent.com/assets/6809907/25719388/8f9713de-3109-11e7-9208-3efcd08c1f63.png)

[2017-05-05 03:19] syvaidya commented on #12
Can you confirm:
* Original file is a valid JPEG file.
* Try changing file extension to "jpg" instead of "jpeg" in output file, and confirm if issue is still there.

[2017-05-05 03:20] syvaidya commented on #13
You can try increasing memory allocation in "openstego.bat" file. You'll see one param -Xmx1024m. Change 1024 to 2048 for example.

[2017-06-08 18:02] DellCliff opened #14 "Blind detection"
You're using Dugad's algorithm to embed a watermark into images, as far as I can read your source. Dugad is a blind watermarking technique. I shouldn't need the signature file to read the watermark from the image IMO. Can you adjust the GUI/command line options towards optional signature files?

[2017-07-05 16:08] jmcastagnetto opened #15 "Fatal error when running on Ubuntu 16.04.2 (64-bit) and Java 9"
Installed OpenStego using the deb from the [0.7.1](https://github.com/syvaidya/openstego/releases/download/openstego-0.7.1/openstego_0.7.1-1_amd64.deb) release in a desktop running an Ubuntu 16.04.2 LTS (64-bit). It did not run when using the GUI (.desktop file), so I tried using the CLI, and it gave the following error:

[code]

As a reference:

[code]

[code]

FYI - It does work when using **Jav

[2017-07-09 10:08] syvaidya commented on #15
Java 9 is still not officially released, and will be released in September only. Current builds might have bugs. Please wait for official release and test with the same. If issue still persists, I'll take a look into it.

[2017-07-09 10:08] #13 closed

[2017-07-09 10:09] syvaidya commented on #12
Closing as no response for 2 months.

[2017-08-12 16:01] leafcutterant opened #16 "Error: Illegal key size"
I get this error when trying to encrypt with AES-256. I used the latest Java runtime environment.

[2017-08-12 19:11] SarenT opened #17 "Image quality decreased drastically"
Hi,
I realized the output images of digital watermarking are much smaller than the input images with worse JPG quality. It would be great to preserve image quality. At least keeping JPG quality similar to input image.

Best,
SarenT

[2017-08-20 11:11] syvaidya commented on #16
Please install Java Unlimited Strength Jurisdiction Policy Files if you want to use AES 256. By default JRE does not include implementation for high strength cryptography. For Java 8, you can download it from:

http://www.oracle.com/technetwork/java/javase/downloads/jce8-download-2133166.html

[2017-08-20 11:11] #16 closed

[2017-08-20 12:45] leafcutterant commented on #16
Thank you, it worked.

[2017-11-01 06:22] madushan1000 commented on #15
Hi,
I'm facing this issue now on Windows 10 64bit with Java 9 official release. This should be re opened.

[2017-12-17 13:08] syvaidya commented on #17
You can control the output compression for JPG by modifying openstego.ini file in user's home directory.

[2017-12-17 13:08] #17 closed

[2017-12-17 13:49] syvaidya commented on #15
Fixed with release 0.7.2

[2017-12-17 13:49] #15 closed

[2017-12-17 22:16] SarenT commented on #17
I don't have that ini file in my user's home directory or elsewhere. I looked into the source code and it appears to be that one should have been created. I copied the one from the repo, which is supposed to be a template (it only includes that variable). My openstego ignored the file. My installation was from Ubuntu repositories. I cloned the most recent version now from github and built the proj

[2017-12-17 23:27] SarenT commented on #17
Forgot to tell that I changed the quality to 1.0.

[2017-12-27 04:18] Canalytic opened #18 "missing openstego.jar file"
The /lib dir has no openstego.jar file.  Cannot get the .sh to function.  It seems the file exists in .71 but not .72 & master

[2017-12-31 16:26] syvaidya commented on #18
Which archive are you downloading? Provide full URL of the download

[2017-12-31 16:29] syvaidya commented on #17
The file should get created first time you run the program. Could you please search your whole file system to see if it is generated? Ideally, it should be under home directory of the user, but I have not tested it on Linux.

[2018-01-02 17:18] aaron-suarez opened #19 "Deb package install fails"
Hello,

I am having trouble installing Open Stego on Debian 9.3 (Stretch).

I downloaded openstego_0.7.2-1_amd64.deb from https://github.com/syvaidya/openstego/releases and installed it using the following:

[code]
It created the folder `/usr/share/openstego` and created a link in my Applications dock. When I click the link to open it, I see this error

![screenshot_2018-01-02_11-07-28](https://us

[2018-01-02 17:48] jakewarren commented on #19
@aaron-suarez I had to run `dos2unix` on /usr/share/openstego/openstego to get it to work since it's using DOS line endings.

[2018-01-02 18:04] aaron-junot commented on #19
After running dos2unix on /usr/share/openstego/openstego, everything works. Thanks @jakewarren

[2018-01-03 09:25] GMaxera opened #20 "How resilient is the embedding of message into image ?"
I wonder if it's possible to extract the embedded message even if the image has been scaled down and/or cropped... and if yes, how much an image can be resized and cropped before the message can't be extracted anymore ?

[2018-01-23 14:29] YPoujol opened #21 "Inconsistant metadata"
[Error.pdf](https://github.com/syvaidya/openstego/files/1656284/Error.pdf)

[2018-01-23 15:16] YPoujol opened #22 "Heap out of memory error"
Hi,
I try Openstego to hide a message in JPEG file of 9 Mbytes. The process hang up with an error message "java.lang.OutOfMemoryError".
I try to raise the size of the heap in the .bat file Xmx2048m or Xmx2g. The application does not start up anymore.

The application processes acurately small jpeg files.

Best regards

[2018-02-12 10:15] rjoz commented on #12
I just installed OpenStego on macos 10.13.3 (Java 9.0.4) and have the exact same issue.
Valid JPEG file, output file extension jpg

[2018-02-17 11:47] syvaidya commented on #14
Blind algorithm does not mean that it does not need the original signature - it only means that original image is not required. All types of algorithms (blind, semi-blind, non-blind) need original signature for verification. Please refer http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.530.2346&rep=rep1&type=pdf

[2018-02-17 11:47] #14 closed

[2018-02-17 11:48] syvaidya commented on #18
Closing due to inactivity

[2018-02-17 11:48] #18 closed

[2018-02-17 12:07] #19 closed

[2018-02-17 12:09] syvaidya commented on #19
Fix would be part of next release.

[2018-02-17 12:11] syvaidya commented on #20
"Data Hiding" uses least significant bits of the pixel color values, so it is not *at all* resilient to any change to the image. Message would definitely be lost if it is resized or cropped.

[2018-02-17 12:11] #20 closed

[2018-02-17 12:12] syvaidya commented on #21
Could you please provide some more details? Attach the actual image and message files too.

[2018-02-17 12:13] syvaidya commented on #22
Are you using 64-bit JRE? You can't increase Xmx to more than 1.5GB with 32-bit JRE.

[2018-02-20 12:46] JacobValdemar commented on #22
I got the same error - was using a 50MB JPG cover file.

[2018-02-20 15:58] YPoujol commented on #22
I am using jre 1.8.0-161-b12 X64 on Windows 10.

De : Samir Vaidya [mailto:notifications@github.com]
Envoyé : samedi 17 février 2018 13:13
À : syvaidya/openstego <openstego@noreply.github.com>
Cc : YPoujol <poujol@club-internet.fr>; Author <author@noreply.github.com>
Objet : Re: [syvaidya/openstego] Heap out of memory error (#22)

Are you using 64-bit JRE? You can't increase Xmx to more than 1.5GB

[2018-02-20 19:15] YPoujol commented on #21
De : Samir Vaidya [mailto:notifications@github.com]
Envoyé : samedi 17 février 2018 13:12
À : syvaidya/openstego <openstego@noreply.github.com>
Cc : YPoujol <poujol@club-internet.fr>; Author <author@noreply.github.com>
Objet : Re: [syvaidya/openstego] Inconsistant metadata (#21)

Could you please provide some more details? Attach the actual image and message files too.

—
You are receiving this be

[2018-02-20 19:17] YPoujol commented on #21
De : Samir Vaidya [mailto:notifications@github.com]
Envoyé : samedi 17 février 2018 13:12
À : syvaidya/openstego <openstego@noreply.github.com>
Cc : YPoujol <poujol@club-internet.fr>; Author <author@noreply.github.com>
Objet : Re: [syvaidya/openstego] Inconsistant metadata (#21)

Could you please provide some more details? Attach the actual image and message files too.

—
You are receiving this be

[2018-03-16 17:04] alentsch opened #23 "Watermarking breaks JPG images (horizontal color bands)"
Hello!

I am trying watermark my photos with openstego v0.7.2 under the Linux command-line. However about 80-90% of the JPG images show light to strong distortions such as horizontal color bands. Here is an example:

Before:
https://www.flickr.com/photos/turbopunsch/40801624302/in/photostream/
https://c1.staticflickr.com/5/4782/40801624302_8d704b0168_b.jpg

After watermarking:
https://www.flickr.c

[2018-03-27 19:46] DirectuX opened #24 "Feedback : Digital watermarking (Beta)"
Hi, thanks for this nice tool, and:

(I have read issues #17 #11 #10 and This:"If a digital watermark distorts the carrier signal in a way that it becomes perceivable, it is of no use." there:https://www.openstego.com/concepts.html

Here is some feedback :
1/ it is clearly visible that the jpg image file has been modified, especially when picture has large plain surfaces
2/ openstego.ini is create

[2018-04-14 16:26] kupiakos opened #25 "Unix EOL Broken for Release v0.7.2"
Commits 0f1e460 and 4e83898 need to be part of a new release of OpenStego for Linux.

[2018-04-15 07:03] syvaidya commented on #25
The fix is NOT yet released. It will be available whenever I do next release.

See comment: https://github.com/syvaidya/openstego/issues/19#issuecomment-366437134

[2018-04-15 07:03] #25 closed

[2018-04-15 07:13] syvaidya commented on #12
@rjoz Can you attach the source image here?

[2018-04-15 07:20] syvaidya commented on #12
Fixed. Next release would include the same.

[2018-04-15 07:21] syvaidya commented on #21
Closing as no input received for few months.

[2018-04-15 07:22] syvaidya commented on #23
@alentsch I tried the JPG, but I am not seeing any bands in the embedded image. The embedding strength is also 100%. I guess that Flickr would be doing some changes to the JPG and so I am not able to reproduce the issue. Would it be possible to attach the original images here?

[2018-04-15 07:24] syvaidya commented on #22
If you have 64-bit JRE and have enough RAM you should be able to increase Xmx to 2g or more. If it is not starting, then please post here what error you see. Try starting the app from command line (openstego.bat) - it should show error in command window.

[2018-04-15 07:25] syvaidya commented on #22
@JacobValdemar did you try increasing the Xmx to 2g or more?

[2018-04-15 07:51] syvaidya commented on #25
I have release v0.7.3 now. It should have this fix.

[2018-04-15 07:51] syvaidya commented on #12
I have release v0.7.3 now. It should have this fix.

[2018-04-15 08:45] rjoz commented on #12
I had to increase memory allocation, but it works now, thanks! :-)

[2018-04-18 19:43] alentsch commented on #23
@syvaidya thank you your reply. I attached both images now to this message - sorry I didn't know that attaching files was possible - much easier of course. When I check the watermark with the command `$ java -Xmx1024m -jar /usr/share/openstego/lib/openstego.jar checkmark --sigfile=xxx.sig --stegofile=xxx.jpg` I get a strength of 0.5 (50%) for the attached image. Where the image "turns into blue" (

[2018-06-08 17:36] antuketot76 opened #26 "Detected As Malicious"
Is this false positive detection?
Scan by Hybrid Analysis.
Hybrid Analysis Link - [HERE](https://www.hybrid-analysis.com/sample/4afc5199e5450091414d72e2ab880237257981d306dddc7832304449b406de6d/5b1ab8c17ca3e1175b32116d)
Scan by Virus Total.
Virus Total Link - [HERE](https://www.virustotal.com/en/file/4afc5199e5450091414d72e2ab880237257981d306dddc7832304449b406de6d/analysis/1528477777/)

**Hybrid An

[2018-06-21 19:32] sasongko26 opened #27 "file not found"
According to  https://github.com/syvaidya/openstego/blob/master/openstego.sh#L4 the file lib/openstego.jar not found. there are ant-deb-0.0.1.jar and  nsisant-1.3.jar

[2018-07-15 13:13] syvaidya commented on #26
There is nothing malicious in OpenStego. This has to be a false positive. Anyone can go through the code and build the same binary using build scripts available in the sources.

[2018-07-15 13:13] #26 closed

[2018-07-15 14:26] syvaidya commented on #27
Did you download the binary build or source zip? If it is source zip, you need to build the project using Apache Ant.

[2018-09-12 21:17] johnlarfour opened #28 "Fail in Ubuntu"
After downloading openstego_0.7.3-1_amd64.deb and install it, when i try to open it i get this error:
<pre>
<code>
Exception in thread "main" java.awt.AWTError: Assistive Technology not found: org.GNOME.Accessibility.AtkWrapper
	at java.desktop/java.awt.Toolkit.newAWTError(Toolkit.java:472)
	at java.desktop/java.awt.Toolkit.fallbackToLoadClassForAT(Toolkit.java:488)
	at java.base/java.util.stream.

[2018-09-12 21:39] johnlarfour commented on #28
I solved with by editing the accessibility.properties file for openjdk and comment this line:
`assistive_technologies=org.GNOME.Accessibility.AtkWrapper`
But I'm not an expert with Java and i don't know if it's a safe method to solve this issue...
If it's ok, you can close this issue.
Thank you

[2018-09-15 06:12] syvaidya commented on #28
I think that change should be fine. Seems that many people face this with Ubuntu java.

[2018-09-15 06:12] #28 closed

[2018-10-23 17:20] S-T-O-R-M opened #29 "NO openstego.jar file"
whenever I try to run the application using the commands, it returns an error
UNABLE TO ACCESS openstego.jar
also this .jar file is not available in the cloned folder

[2018-11-08 03:16] traipsinglutrinae opened #30 "no file extracted"
"message file successfully extracted from cover file: null"

correct password, win10.

i see this was reported before, and im pretty sure i did a test extraction after i made the file originally.

[2018-11-09 00:50] SpaceboyRoss01 opened #31 "java.lang.NullPointerException"
[code]
I just installed it

[2018-11-14 13:28] MrCode97 commented on #31
Executing from openstego (not within the /lib folder) worked fine for me:
`java -jar lib/openstego.jar`
or
`java -jar <absolute path>/openstego/lib/openstego.jar`

[2018-11-14 16:03] RossComputerGuy commented on #31
I'm using the AUR package.

[2018-11-28 22:19] djcopley commented on #29
You have to build it using ant builder. In Linux run `ant -f build.xml` in the openstego directory.

[2018-12-02 12:31] #22 closed

[2018-12-02 12:33] syvaidya commented on #29
@djcopley is correct. If you directly want to run, please download prebuilt binaries from release area.

[2018-12-02 12:33] #29 closed

[2018-12-02 12:34] syvaidya commented on #30
Can you please provide more details? It would be good if you can give some test files.

[2018-12-02 12:38] syvaidya commented on #31
@SpaceboyRoss01 not sure what is AUR package, but looks like that the package is incorrectly built. Can you check if openstego.jar file is there, and if so extract the contents using any zip utility and check if following file exists: com/openstego/desktop/resource/openstego.ini

[2018-12-02 16:03] RossComputerGuy commented on #31
https://aur.archlinux.org/packages/openstego/ this is what I'm using because I'm using Arch and I don't know where the jar is located

[2018-12-03 04:39] RossComputerGuy commented on #31
@MrCode97 I don't know where the lib directory for openstego is.

[2018-12-03 04:48] RossComputerGuy commented on #31
I found out openstego is located at /usr/share/java/openstego/openstego.jar but running it still causes a NullPointerException.02.12.2018, 20:39, "SpaceboyRoss01" <notifications@github.com>:@MrCode97 I don't know where the lib directory for openstego is.

—You are receiving this because you are subscribed to this thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2018-12-08 01:45] ArcLampAfterglow commented on #30
I have since had to replace my computer and don't have access to the
specifics of the situation any longer however the problem resolved itself.

I had embedded a non typed file with 4 lines of text into a png with what I
believe was 0.7.3 however i cannot confirm that now. I just tried to
extract it again after installing 0.7.3 on my new computer and it gave me a
different error, that it was made

[2018-12-08 10:27] syvaidya commented on #31
I saw that in that package the openstego.sh is having following line:

`java -jar "/usr/share/java/openstego/openstego.jar" "$@"`

It seems to be okay. Did you try running openstego using "openstego.sh" script?

[2018-12-08 18:42] RossComputerGuy commented on #31
Yes--Sent from Yandex.Mail for mobile08.12.2018, 02:27, "Samir Vaidya" <notifications@github.com>:I saw that in that package the openstego.sh is having following line:
java -jar "/usr/share/java/openstego/openstego.jar" "$@"
It seems to be okay. Did you try running openstego using "openstego.sh" script?

—You are receiving this because you were mentioned.Reply to this email directly, view it on Gi

[2018-12-15 06:51] syvaidya commented on #31
Can you try downloading zip version directly from github releases, and try that instead of using ArchLinux package?

[2018-12-15 06:53] RossComputerGuy commented on #31
it does the same thing.

[2018-12-17 05:29] syvaidya commented on #31
Thanks, I am able to reproduce it. The issue happens only first time you launch OpenStego. It fails with NPE, but it still creates "openstego.ini" file in the user's home folder, and next launch onwards it works fine. I'll fix this with next release.

[2018-12-17 05:37] syvaidya commented on #31
Fixed in master branch. Will be part of next release.

[2018-12-17 05:37] #31 closed

[2019-01-18 11:52] Eyremba commented on #24
This is a general issue of watermarking. As far as I know, Digimarc (The watermarking tool of Photoshop) does also *not* work with transparency files, for example with png files which contain transparent elements.

[2019-01-18 12:02] Eyremba commented on #23
Was this fixed now?
Or does OpenStego still have this problem?

[2019-01-18 12:42] DirectuX commented on #24
@Eyremba:
Openstego is specialized in steganography, one can assume it would do better than the average watermarking software. Suggestion: backup alpha channel, apply watermark, restore alpha , would it work? Think of combination with feedback 6/

[2019-10-08 13:30] aep opened #33 "java.lang.NullPointerException in com.openstego.desktop.util.UserPreferences.init"
[code]

[code]

[2019-10-19 01:47] bluefinch83 commented on #24
Hello, I'm having issues recovering the watermark from a compressed image. So, I embed a watermark in an image and then resized it. No matter how small the resize was, even a 1% change in size made the watermark unreadable. I tried this with both jpg and png files, and neither worked. Does the watermark just not handle resizing well?

[2019-10-20 08:44] DirectuX commented on #24
@bluefinch83 Please, open a new issue for this.

[2019-11-14 08:16] Sohex commented on #33
I see the same issue on a different java version:
[code]

Interestingly enough I don't see the issue using v1.8.0_222 as above, but it is a different build:
[code]

[2020-04-02 00:41] GeeK-Batman opened #34 "Compatibility with previous versions"
I have a task for my university module that requires I find hidden files. I have tried using the version they provided of openstego (6.1) but I get java errors and with 7.3 it tells me the version is incompatible. My assumption is the removal of DES Encryption.
Would it be possible to allow this type, for example a check box to choose this but just make it not the default? Surely more options is b

[2020-05-12 01:02] Hodginson opened #35 "Compatability issue between .Jar and .exe versions"
We have found that hiding a message using the .jar version throws an error when trying to extract in the .exe version and vice versa.

[2020-06-02 18:53] ianrelecker opened #36 "java.lang.OutOfMemoryError: Java heap space"
Having an issue in v0.7.3 where I am getting a java.lang.OutOfMemoryError. This happens in Data Hiding and Digital Watermarking. I am running Java Version 1.8.0_241. Running 16GB of Ram, OpenStego fully utilizes the CPU and takes about 1200 MB of ram before erroring out.
![Capture](https://user-images.githubusercontent.com/55418500/83557951-4a498200-a4c7-11ea-84e8-651f526bd027.PNG)

[2020-06-02 18:54] ianrelecker commented on #36
I am also running the .jar version if that helps!

[2020-06-04 06:20] JacobSyndeo commented on #33
Happening on mine too:
[code]

(Running on macOS 10.15.4, if that matters)

**Edit** Ran exactly the same command one more time, and it worked this time. 🤷🏻‍♂️

[2020-06-06 05:21] syvaidya commented on #33
I think first time it does not find openstego.ini file that stores the user preferences in the user's home directory. It might create the file though before exception occurs, and so next time onwards it does not give this error. I'll have to debug.

[2020-06-06 05:24] syvaidya commented on #36
This might happen with larger image files. Please increase the JVM memory allocation. In the bat/sh file change -Xmx1024m to -Xmx4096m (4gb allocation). You can increase as required. By the way, you should be using 64-bit java if you want to allocate more than 1.5GB memory.

[2020-06-06 05:24] #36 closed

[2020-06-06 05:25] syvaidya commented on #35
Could you please give reproducible steps? And are you using same version of OpenStego for both embed and extract?

[2020-06-06 05:26] syvaidya commented on #34
DES is a broken algorithm and really unsafe to use, and so I had removed it. If you want to extract data from older versions, couldn't you use older version of OpenStego to extract too?

[2020-06-06 05:45] syvaidya commented on #33
This is a duplicate of #31 and it is already fixed in main branch. Next release will have the fix. Meanwhile just run openstego again to start it.

[2020-06-06 05:45] #33 closed

[2020-07-02 21:29] Daginberth opened #37 "Support of 16bit color depth"
Hey,
I am freaking amazed by this tool.
And I would like to use it for a Creative Commons project.
But due to quality of the images I need them to still be at 16bit color depth after "watermarking" them.

Is that a possibility or would that take to much efford to develope?

[2020-08-25 23:34] fmirza7866 opened #38 "Bhh"

[2020-10-02 07:36] #38 closed

[2020-10-02 07:37] #34 closed

[2020-10-02 07:38] #35 closed

[2020-11-30 19:02] manvydasu commented on #24
@DirectuX
Which research paper is the algorithm for invisible watermaking based on?

[2020-11-30 19:50] DirectuX commented on #24
oh please, ask Samir, I'm not the developer.

[2020-12-01 08:11] manvydasu opened #39 "The documentation lacks explanation of algorithm used for invisible watermark embedding"
I was wondering what algorithm was used, but couldn't find it. Without knowing algorithm, it's hard to understand robustness and limitations of implementation. It should probably be mentioned in the readme file somewhere.

[2020-12-03 04:40] syvaidya commented on #39
Run OpenStego, and click on Help --> About. It has details of the paper which was the base for algorithm. For watermarking Dugad's algorithm is used (mentioned in that paper).

[2020-12-19 07:34] #39 closed

[2021-01-16 13:09] #37 closed

[2021-05-15 02:09] Rufusdotrufus opened #40 "Consistently receiving Java Out of Memory Errors"
I saw this program and thought I would give it a try.  I have run a number of tests.  The first test ran fine.

Test 1.  The image I used to hide my data was 474x296 pixels with a bit depth of 24.  Using AES 128 encryption. Test completed.

Test 2. The image I used to hide my data was 9004x11590 pixels with a bit depth of 36.  Using AES 256 encryption. Test never completed.  I received the followi

[2021-05-15 08:23] syvaidya commented on #40
@Rufusdotrufus which version did you use? v0.8.0 has a major memory usage fix.

Regarding Java usage, check https://www.openstego.com/features.html. Earlier, installer used to check for Java to be installed, but there were some issues with consistency of that check as Java can be installed in different ways on different OSes. So, now installer will go through, but when you execute ".bat" (or ".sh"

[2021-05-15 18:35] Rufusdotrufus commented on #40
@syvaidya Thank you for replying so quickly.  I had downloaded both v0.8.0 and v0.7.4. I thought I had installed v0.8.0 but I hadn't.  I installed the most recent version and re-ran my test samples.

All samples ran quite quickly and smoothly with the exception of the largest image 9004x11590 pixel.  That sample caused an out of memory error.  I think the pixel resolution for that image is just to

[2021-05-17 09:20] syvaidya commented on #40
To handle larger files, you can edit `openstego.bat` (or `openstego.sh` on MacOS/Linux), and increase value for `-Xmx` from default 1024m to higher number. For example, to allow up to 4GB memory usage, change it to `Xmx4096m`.

[2021-06-04 20:00] bonzi9 opened #41 "Linux - Windows versions not cross compatible?"
Just stumbled onto this tool to hide sensitive information.

For security reasons I want to use an air-gapped Linux machine to create the files with hidden data, which runs Linux Lite 5.4 from the live USB image. Using OpenStego v0.8.0 on both Windows and Linux.
Testing multiple possibilities to extract the data reliably I found that trying to extract the Linux-created hidden file on Windows 10 (b

[2021-06-05 05:18] #40 closed

[2021-06-05 05:22] syvaidya commented on #41
@bonzi9 it looks like your local file on windows is corrupted (probably while downloading/transferring). I downloaded your file on windows and can successfully extract the message:

![image](https://user-images.githubusercontent.com/3024910/120881070-25ad4c00-c5ec-11eb-8e40-33ed40c8e21b.png)

[2021-06-05 05:22] #41 closed

[2021-07-24 17:37] AhmedKAwwad commented on #19
Fixed, Thanks <3

[2021-11-12 16:20] Shivatack opened #42 "Problem with .bat file on windows"
Hello all,

I wanted to run Openstego and then ran into the JAVA_HOME is not set. So I went to set it up in env settings.
After that, the message changed for JAVA_HOME is set to an invalid directory even if it was set to the good one.

So after investigating a bit I found out that a line is at the wrong place in the .bat file so I replaced this :
[code]

by this :
[code]

and it worked. I think it

[2021-11-21 06:10] #42 closed

[2021-11-21 06:11] syvaidya commented on #42
Thanks @Shivatack for the report. You are right. I've fixed the batch file now. I'll release new version shortly.

[2021-11-21 17:30] Trenly opened #43 "ARP Entry Does Not Specify Publisher"
In the Add/Remove Programs entry, the publisher is not specified. This can cause issues with other applications such as the [Windows Package Manager](/microsoft/winget-cli) which depend on ARP data for package matching.

To fix this, `AppPublisher` should be added to the inno setup

![image](https://user-images.githubusercontent.com/12611259/142772487-a96e30c3-3d1d-47b5-b2ac-180567e1c472.png)

[2021-11-27 09:07] syvaidya commented on #43
@Trenly I've added AppPublisher information, but I doubt that it will fix this. The Publisher info in Windows Explorer or in the dialog that comes up about untrusted binary does not come from this field. It can be populated only if I sign the binaries using a valid signature. I don't have a signing key to do that.

[2021-11-27 15:38] Trenly commented on #43
I’m aware that it doesn’t populate to the explorer dialog. However, for this specific case, as long as it is in the ARP entry, the pacakge should be detected properly when installed

[2021-11-28 04:49] #43 closed

[2021-12-01 01:56] mikelorrey opened #44 "wont start without Java path defined, how to fix?"
I've installed the setup file, but it wont start it says I need to define the path to the java install but wont let me do that. Solutions?

[2021-12-05 11:17] syvaidya commented on #44
Do you have Java runtime installed on your computer? Normally, java.exe is on the PATH if it is installed correctly. And OpenStego should launch without any issue.

[2021-12-11 03:28] rickhg12hs opened #45 "Command "Errors""
Just installed the RPM and extraction worked normally, but there are a couple of commandline errors:
[code]

[2021-12-11 03:45] rickhg12hs opened #46 "`LSB` plugin not available from RPM?"
I see the `LSB` plugin in the source, but it doesn't seem to be available from the RPM install.  Is this intended/expected?
[code]

[2021-12-11 05:09] syvaidya commented on #45
@rickhg12hs this is not an error. As OpenStego now supports 2 algos (RandomLSB for data hiding, and Dugad for Watermarking), you need to provide algorithm for which you want read or write formats. For example:

[code]

[2021-12-11 05:09] #45 closed

[2021-12-11 05:10] syvaidya commented on #46
Yes, this is intentional. LSB was removed long time back as it is very easy to detect. RandomLSB ensures that data gets pseudo-randomly distributed across the cover image, and is harder to detect.

[2021-12-11 05:10] #46 closed

[2021-12-11 05:11] syvaidya commented on #44
@mikelorrey Could you please confirm? I'll wait for few more days before closing this issue.

[2021-12-11 05:17] rickhg12hs commented on #46
I understand.  Was going to use simple LSB algorithm as an easily discovered/decoded example of steganography for newbies.

Looks like I can add it by creating file `OpenStegoPlugins.external` with contents `com.openstego.desktop.plugin.lsb.LSBPlugin` and then update the contents of `openstego.jar`.

[2021-12-11 05:23] rickhg12hs commented on #45
Ah, I didn't see that specifying the algorithm was required.  I thought it would list the formats for each algorithm without specifying them.

[2021-12-12 21:42] elfring opened #47 "Increase the usage of compound assignment operators"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of compound operators](https://docs.oracle.com/javase/specs/jls/se17/html/jls-15.html#jls-15.26 "Description for assignment operators") accordingly.

[code]

[2021-12-14 18:27] rafaelsorgato opened #48 "-p not working"
-p "123456" doesn't work, the cmd or powershell doesn't recognizes and request a password

example:  java -jar openstego.jar extract -sf "a.bmp" -p "123456"

[2021-12-17 04:08] mikelorrey commented on #44
I don’t recall installing java separately, what version should I use?

On Sat, Dec 11, 2021 at 12:11 AM Samir Vaidya ***@***.***>
wrote:

--
Mike Lorrey
***@***.*** ***@***.***>

International Spaceflight Museum
***@***.***
Skype: michael.lorrey
LinkedIn: https://www.linkedin.com/in/mikelorrey

[2021-12-24 07:58] syvaidya commented on #44
Java 11 or above should be fine. If it is just zip file for JDK, then ensure that you add path to `java.exe` to your `PATH` environment variable.

[2021-12-24 07:58] #44 closed

[2021-12-24 08:03] syvaidya commented on #48
@rafaelsorgato could you please give me the command that you used to embed too? I just tried extract with password on command line and I am not able to reproduce the issue.

[2022-01-15 21:48] EmilDey commented on #48
i have the same problem. the command to embed with password seems that it is not working.  it generate a image without password.   to try to debuging i use the gui to generate a image with password and extract with the command line.

[2022-01-15 21:52] EmilDey opened #49 "-p not working"
i have the same problem that the other user. the command to embed and extract with password seems that it is not working. embed with -p  generate a image without password and extract always ask for a password (it doesnt use the given password). to try to debugging i use the gui to generate a image with password and extract with the command line.

[2022-01-16 07:21] syvaidya commented on #48
@EmilDey can you give me following details:

- OpenStego version
- Operating System
- Java Runtime version
- Sample command that you tried for embedding with password

[2022-01-16 07:21] syvaidya commented on #49
Duplicate of #48

[2022-01-16 07:21] #49 closed

[2022-01-16 14:28] EmilDey commented on #48
i have used the latest version: openstego_0.8.2
linux ubuntu 21.10
java -version output:
openjdk version "11.0.13" 2021-10-19
OpenJDK Runtime Environment (build 11.0.13+8-Ubuntu-0ubuntu1.21.10)
OpenJDK 64-Bit Server VM (build 11.0.13+8-Ubuntu-0ubuntu1.21.10, mixed mode, sharing)

i have tried everything i can imagine:
openstego extract -xf mensaje_out.txt -sf output.png --password="pass"
openstego

[2022-01-30 07:17] #48 closed

[2022-01-30 07:23] syvaidya commented on #48
Thanks Emil for the details. It was a regression, that I have now fixed with release v0.8.3.

[2022-01-30 14:35] Plagouille opened #50 "ERROR: JAVA_HOME"
Hi,

I can start 0.8.0 but not following versions (0.8.2 and 0.8.3) on 1 boot W10 and no one on another boot W10.

I updated Java runtime, uninstalled, cleaned, reinstalled, but nothing. I did on 2 Windows 10 (dual boot).

![cscript_2022-01-30_15-13-12](https://user-images.githubusercontent.com/76214960/151703433-1229376e-1c5d-4caa-aac0-f12b050197f8.png)
![cscript_2022-01-30_15-19-40](https://user

[2022-02-05 04:18] syvaidya commented on #50
Java 1.8 is very old and out of support from Oracle for long time. OpenStego needs at least Java 11 now. Please download OpenJDK 11 (or any of the other variants like Oracle JDK, AdoptOpenJDK, etc.). Ensure that `java` is on PATH, or set `JAVA_HOME` environment variable to point to JDK location.

[2022-02-05 04:18] #50 closed

[2022-02-22 02:01] Kfont400 opened #51 "javax.imageio.IIOException: JFIF APP0 must be first marker after SOI."
![2022-02-21](https://user-images.githubusercontent.com/89884205/155049672-e5a568bc-9611-4683-a544-bcec0ed63ff3.png)

Not sure why I'm getting this error or what it exactly means. What do I need to do to clear this error?

[2022-03-05 10:05] syvaidya commented on #51
@Kfont400 can you please attach some sample image where you are seeing this, and also what are you trying to do? Watermarking, data hiding?

[2022-03-18 05:49] syvaidya commented on #51
@Kfont400 any update on this? Can you attach sample cover file image that is giving this issue?

[2022-03-27 04:48] syvaidya commented on #51
Closing for now

[2022-03-27 04:48] #51 closed

[2022-07-04 23:46] MeLikeFish opened #52 "Error: A JNI error has occured, please check your instalation and try again"
Error: A JNI error has occured, please check your instalation and try again
![image](https://user-images.githubusercontent.com/63132234/177225944-c9c92db5-77b1-43d7-90f1-bf102869aa4f.png)
Right after that I get
A Java exception has occured.
![image](https://user-images.githubusercontent.com/63132234/177225980-c12750fc-2eec-44f8-bf38-e27d4422a149.png)

[2022-07-04 23:49] Nygosaki commented on #52
Needed to update Java. For anyone in the future, here is the link https://www.oracle.com/java/technologies/downloads/#jdk18-windows

[2022-07-04 23:49] #52 closed

[2022-07-04 23:59] DrinkingJoe opened #53 "Error when trying to embed watermark using my signature"
![image](https://user-images.githubusercontent.com/63132234/177226601-3d29dcba-d118-41e2-b7c5-31472b7e91b6.png)

[2022-09-09 12:58] alexvanbelle opened #54 "NullPointerException with embedmark command for some valid images"
Hi,

First, just want to say thank you for the great work on Openstego! Really appreciated.

I try to use it for a big image dataset and I notice an unexpected behavior : some valid images can create NullPointerException. I "successfully" reproduce it every time with command line. I didn't test with GUI.

**Stack trace:**

        at com.openstego.desktop.OpenStego.embedMark(OpenStego.java:156)

[2022-09-20 00:04] KirkStallings opened #55 "javax.imageio.IIOException: JFIF APP0 must be first marker after SOI"
When trying to verify the watermark of the output / watermarked file, the program throws the error in the title.

I believe this may have to do with the size of the input file. My input file is 3.5 MB.

Expected:
When clicking "Verify watermark" in the "Verify watermark" window (part of Digital watermarking (Beta), I expect to see the window that tells what percentage the watermark file matches th

[2022-09-24 13:54] umarahmad125 opened #56 "Installation Error"
Error: Unable to access jarfile /home/kali/Desktop/D/openstego/src/main/dist/lib/openstego.jar

[2022-09-25 05:46] syvaidya commented on #47
@elfring I use IntelliJ for all optimization suggestions, and have never seen this coming up. I searched web for any mention of real advantages of using compound assignment operators. Other than lesser typing required, I don't see any pros. Do you have any strong reason of why this should be used?

[2022-09-25 05:46] syvaidya commented on #53
Could you please provide more details, or steps to reproduce this issue? What version of OpenStego are you using, etc.?

[2022-09-25 05:48] syvaidya commented on #56
Could you please provide some more details on how did you install it, OS version, OpenStego version, etc.?

[2022-09-25 05:51] syvaidya commented on #55
Thanks for the report. I'll take a look.

[2022-09-25 05:51] syvaidya commented on #54
Thank you for excellently written bug report. I'll take a look.

[2022-09-25 05:52] syvaidya commented on #56
Closing for now as there is no information available. Please reopen once you provide it.

[2022-09-25 05:52] #56 closed

[2022-09-25 05:52] syvaidya commented on #53
Closing for now as there is no information available. Please reopen once you provide it.

[2022-09-25 05:52] #53 closed

[2022-09-25 08:30] elfring commented on #47
The amount of available information differs for this technical detail according to the selected programming language.

I would appreciate to avoid the specification of duplicate expressions a bit more.

:thought_balloon: I suggest to reconsider optimisation opportunities also according to the programming language “Java”.

[2022-09-25 09:27] syvaidya commented on #55
The file size reducing to 636KB is not an issue, because OpenStego saves JPEG files with compression quality of 75. Your original file has 98 quality so it is large. You can change output JPEG quality by editing openstego.ini file that gets created in your user home directory, and then restarting OpenStego.

I am trying to debug now why your JPEG is giving JFIF APP0 error.

[2022-09-25 09:49] syvaidya commented on #54
Fixed with v0.8.5

[2022-09-25 09:49] #54 closed

[2022-09-25 09:54] syvaidya commented on #55
Fixed with v0.8.5.

Many (or most?) JPEG readers are lenient and allow JPEG files where APP0 marker is not the first one in JFIF metadata - which is the case with image in this issue. But Java ImageIO is strict and not allowing it. One option is that I switch to some other image handling library like TwelveMonkey, but it would be large effort and would add dependency to that library.

So for now,

[2022-09-25 09:54] #55 closed

[2022-09-25 09:55] syvaidya commented on #47
I'll leave it for now as I don't see much value in doing this. I might take it up in future when I do cleanup or large refactoring.

[2022-09-25 09:55] #47 closed

[2022-09-26 06:57] avanpub commented on #54
Thanks very much. I'll give a try to the new release this week